{% extends "base.html" %}

{% block content_block %}
<h1 class="h3 mb-3 fw-bolder text-center">自転車を登録してください</h1>
<div class="container-sm mt-10">
  <form class="row g-3 mg-4" action="{% url 'App:bicycle_create' %}" method="POST" enctype="multipart/form-data">
    <div class="flex justify-center items-center"></div>
      <div class="col-md-6">
          <label for="inputBrand" class="form-label">ブランド</label>
          <select id="inputBrand" name="brand" class="form-select">
            {% for item in choices %}
              <option selected value="{{ item.0 }}">
                {{ item.1 }}
              </option>
            {% endfor %}
          </select>
      </div>
      <div class="col-md-6">
        <label for="inputModel" class="form-label">モデル</label>
        <input type="text" name="model" class="form-control">
      </div>
      <div class="col-12">
          <div class="mb-3">
              <label for="formFile" class="form-label">自転車の写真</label>
              <input class="form-control" name="image" type="file" id="formFile">
          </div>
      <div class="col-12">
        <label for="inputModelyear" class="form-label">年式</label>
        <input type="text" name="year" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="mt-4 text-center col-12">
        <button type="submit" class="btn btn-primary" style="background-color: blue;">登録</button>
      </div>
    </div>  
    {% csrf_token %}
  </form>
</div>
{% endblock %}