{% extends "base.html" %}

{% block content %}
<body class="form-signin">
    <div class="flex justify-center items-center text-center">
        <h1 class="h3 mb-3 fw-normal">自転車の削除</h1>
        <p>以下の自転車を削除します。よろしいですか？</p>
        <p>{{ bicycle.brand }} {{ bicycle.model }}</p>
        <div class="d-grid gap-2 d-md-block">
            <form class="form-signin" action="{% url 'App:bicycle_delete' bicycle_id=bicycle.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">削除</button>
                <a href="{% url 'App:list' %}" class="btn btn-secondary">キャンセル</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}