{% extends "base.html" %}

{% block content %}
<h1 class="h3 mb-3 fw-bolder text-center">{{ bicycle.brand }}のパーツ構成</h1>
    <a href="{% url 'App:part_create' %}" class="btn btn-outline-primary">パーツ登録</a>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">パーツ名</th>
            <th scope="col">ブランド</th>
            <th scope="col">タイプ</th>
            <th scope="col">点検日</th>
            <th scope="col">#</th>
          </tr>
        </thead>
        <tbody>
            {% for part in parts %}
                <tr>
                    <td>{{ part.name }}</td>
                    <td>{{ part.brand }}</td>
                    <td>{{ part.type }}</td>
                    <td>{{ part.last_inspection_date}}</td>
                    <td><a href="#" class="btn btn-outline-success">更新</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}