{% extends "base.html" %}

{% block content %}

<div class="card text-white">
  <img src="{{ MEDIA_URL }}images/image/top_image.jpg" class="card-img" alt="トップ画像">
  <div class="card-img-overlay d-flex">
    <div class="m-auto">
      <p class="card-title fs-1 fw-bolder text-center">メンテナンス管理サイト</p>
      <div class="d-grid gap-4 d-md-block text-center justify-center fs-4">
        <a href="{% url 'App:login' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">ログイン</a>
        <a href="{% url 'App:signup' %}" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">新規登録</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}