{% extends "base.html" %}

{% block content_block %}
<form action="{% url 'App:login' %}" method="post">
  <div class="min-h-screen flex justify-center items-center">
    <div class="border border-gray-700 p-5">
      <div class="my-4">
        <label for="username">ユーザ名</label>
        <input name="username" class="border border-gray-400 rounded-md" id="username" type="text" required>
      </div>
      <div class="mb-4">
        <label for="password">パスワード</label>
        <input name="password" class="border border-gray-400 rounded-md" id="password" type="password" required>
      </div>
      <div class="text-center">
        <button class="bg-gray-800 text-gray-400 rounded-md p-2" type="submit">submit</button>
      </div>
    </div>
  </div>
  {% csrf_token %}
</form>
{% endblock %}