{% extends "base.html" %}

{% block content_block %}
  <h1 class="fs-1">ようこそ{{ user.username }} さん</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for bicycle in bicycles %}
    <div class="col">
      <div class="card h-100">
        <img src='{{ MEDIA_URL }}/{{ bicycle.image }}' class="card-img-top img-thumbnail" alt="photo">
        <!-- <img src="/media/images/bycycle/ROUBAIX.png" class="card-img-top img-thumbnail" alt="photo"> -->
        <div class="card-body">
          <h5 class="card-title">{{ bicycle.brand }}</h5>
          <h5 class="card-text">{{ bicycle.model }}</h5>
          <a href="{% url 'App:bicycle_detail' %}" class="btn btn-primary">詳細</a>
          <div class="card-footer">
            <small class="text-muted">更新日時：{{ bicycle.update_at }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}