{% extends "base.html" %}

{% block content_block %}
  <h1 class="fs-1">ようこそ{{ user.username }} さん</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for bicycles in bicycle %}
    <div class="col">
      <div class="card h-100">
        <img src='{{ MEDIA_URL }}/{{ bicycles.bicyclephoto }}' class="card-img-top img-thumbnail" alt="photo">
        <div class="card-body">
          <h5 class="card-title">{{ bicycles.brand }}</h5>
          <h5 class="card-text">{{ bicycles.model }}</h5>
          <a href="#" class="btn btn-primary">詳細</a>
          <div class="card-footer">
            <small class="text-muted">更新日時：{{ bicycles.update_at }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}