<div class="modal fade" id="partCreateModal{{ bicycle.id }}" tabindex="-1" aria-labelledby="partCreateModalLabel{{ parts.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">パーツの登録</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
				<form class="row g-3" action="{% url 'App:part_create' bicycle.id %}" method="POST">
					{% csrf_token %}
					<div class="col-12">
						<label for="inputPart" class="form-label">パーツ名</label>
						<select id="inputPart" name="partname" class="form-select">
						{% for partname in partname_choices %}
							<option selected value="{{ partname.1 }}">
								{{ partname.1 }}
							</option>
						{% endfor %}
						</select>
					</div>
					<div class="mb-3">
						<label for="inputType" class="form-label">点検日付</label>
						<input name="last_inspection_date" type="date" class="form-control" id="inputAddress" placeholder="">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">登録</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
					</div>
				</form>
			</div>
        </div>
    </div>
</div>
