{% extends "base.html" %}

{% block content %}
<h1 class="h3 mb-3 fw-bolder text-center">パーツを登録してください</h1>
<div class="container-sm mt-10">
  <div class="text-center">
    <form class="row g-3" action="{% url 'App:part_create' %}" method="POST">
      <div class="form-floating">
        <input name="name" type="text" class="form-control">
        <label for="inputPart" class="form-label">パーツ名</label>
      </div>
      <div class="form-floating">
        <input name="brand" type="text" class="form-control">
        <label for="inputBrand" class="form-label">ブランド</label>
      </div>
      <div class="form-floating">
        <input name="type" type="text" class="form-control" id="inputAddress" placeholder="">
        <label for="inputType" class="form-label">タイプ</label>
      </div>
      <div class="form-floating">
        <input name="last_inspection_date" type="date" class="form-control" id="inputAddress" placeholder="">
        <label for="inputType" class="form-label">点検日付</label>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">パーツ登録</button>
    {% csrf_token %}
    </form>
  </div>
</div>
{% endblock content %}