<div class="modal fade" id="bicycleDeleteModal{{ bicycle.id }}" tabindex="-1" aria-labelledby="bicycleDeleteModalLabel{ bicycle.id }" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bicycleDeleteModal{{ bicycle.id }}">自転車の削除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>以下の自転車を削除します。よろしいですか？</p>
                <p>{{ bicycle.brand }} {{ bicycle.model }}</p>
            </div>
            <div class="modal-footer">
                <form method='POST' action="{% url 'App:bicycle_delete' bicycle_id=bicycle.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </form>
            </div>
        </div>
    </div>
</div>
