{% load custom_filters %}

<div class="modal fade" id="partDeleteModal{{ part.id }}" tabindex="-1" aria-labelledby="partDeleteModalLabel{{ part.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="partDeleteModal{{ part.id }}">パーツの削除</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>以下のパーツを削除します。よろしいですか？</p>
                <p>{{ partname_dict|get_partname:part.partname }}</p>
            </div>
            <div class="modal-footer">
                <form method='POST' action="{% url 'App:part_delete' part_id=part.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">削除</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                </form>
            </div>
        </div>
    </div>
</div>
